.devicebox {
    margin: auto;
    width: 400px;
    border: ridge, 10px;
    background-color: lightblue;
}

h3, h4, h5 {
    margin: auto;
    padding: 10px;
    text-align: center;
}
.curtemp {
    margin: auto;
    padding: 10px;
    background-color: rgb(8, 209, 8);
    text-align: center;
}

.devstatus {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

button {
    margin: 10px;
    margin-left: 10px;
    padding: 10px;
}

.actionbuttons {
  text-align: center;
}