.devicebox {
    margin: auto;
    width: 430px;
    border: ridge, 8px;
    background-color: lightblue;
}

h3, h4, h5 {
    margin: auto;
    padding: 8px;
    text-align: center;
}
.curtemp {
    margin: auto;
    /* padding: 8px; */
    background-color: rgb(8, 209, 8);
    text-align: center;
}

.devstatus {
    margin: auto;
    text-align: center;
    padding-bottom: 8px;
}

button {
    margin: 8px;
    margin-left: 18px;
    padding: 5px;
}

.actionbuttons {
  text-align: center;
}