.jumbotron {
	background-image: url("dogkennel.jpg");
    background-size: cover;
    /* background-repeat: repeat; */
    background-position: center;
    border: 8px ridge rgb(0, 0, 0);
    width: 800px;
    margin: auto;
}
